<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}base{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="../static/css/fullcalendar.min.css">
    <!-- https://fullcalendar.io/ -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="../static/css/tooplate.css">
    <style>
        #alert-box-success,
        #alert-box-danger{
            position: fixed;
            width: 270px;
            top: 20%;
            left: 50%;
            transform: translateX(-135px);
            z-index: 9999;
        }
        .hidden{
            display: none;
        }
    </style>
    {% block head %}{% endblock %}
</head>



<body id="reportsPage">
    <div class="" id="home">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-xl navbar-light bg-light">
                        <a class="navbar-brand" href="#">
                            <i class="fas fa-3x fa-tachometer-alt tm-site-icon"></i>
                            <h1 class="tm-site-title mb-0">后台管理</h1>
                        </a>
                        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto " style="margin-right: 10px">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('teacher_info.teacher_info') }}">教师信息管理</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('admin_user.user_info') }}">用户管理</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link d-flex">
                                        <i class="far fa-user mr-2 tm-logout-icon"></i>
                                        <span>{{ session['username'] }}</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link d-flex" href="{{ url_for("auth.logout") }}">
                                        <i class="fas fa-sign-out-alt mr-2 tm-logout-icon"></i>
                                        <span>注销</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
<div class="container">

    {% block main %}{% endblock %}
    <div id="alert-box-success" class="alert alert-success hidden">
        <strong><span class="alert-message">操作成功</span></strong>
    </div>
    <div id="alert-box-danger" class="alert alert-danger hidden">
        <strong><span class="alert-message">操作失败，请稍后再试</span></strong>
    </div>
</div>

<script src="../static/js/jquery-3.3.1.min.js"></script>
<!-- https://jquery.com/download/ -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- https://getbootstrap.com/ -->
<script>
/**
 * 显示/隐藏提示框
 * @param {boolean} isSuccess
 * @param {string} modal 模态框id, 用于隐藏模态框
 * @param {string} message 用于显示的消息
 */
function toggle_alert(isSuccess, modal, message = ""){
    if(modal){
        $(`#${modal}`).modal("hide");
    }

    let alert_success = $("#alert-box-success");
    let alert_error = $("#alert-box-danger");
    // 显示操作成功的提示框
    if(isSuccess){
        alert_error.hide();

        if(message){
            alert_success.find('.alert-message').text(message);
        }

        alert_success.show(1000);
        setTimeout(()=>{
            alert_success.hide(1000);
        }, 2000)
    }else{
        alert_success.hide();

        if(message){
            alert_error.find('.alert-message').text(message);
        }

        alert_error.show(1000);
        setTimeout(()=>{
            alert_error.hide(1000);
        },2000);
    }
}
</script>
{% block script %}{% endblock %}
</body>
</html>