{% extends 'base.html' %}
{% block title %}products{% endblock %}

{% block main %}
    <div class="row tm-content-row tm-mt-big">
        <div class="col-xl-8 col-lg-8 tm-md-12 tm-sm-12 tm-col">
            <div class="bg-white tm-block h-100">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <h2 class="tm-block-title d-inline-block">具体信息</h2>
                    </div>
                </div>
                <form>
                    <table class="table">
                      <thead >
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">数据库数据</th>
                          <th scope="col">商务提交数据</th>
                        </tr>
                      </thead>
                        <tbody>
                            <tr>
                              <th scope="row">姓名</th>
                              <td>钱学森</td>
                              <td>钱学森</td>
                            </tr>
                            <tr>
                              <th scope="row">学校、学院</th>
                              <td>中国科学技术大学魔法学院</td>
                              <td>中国科学技术大学核武器学院</td>
                            </tr>
                            <tr>
                              <th scope="row">职称、头衔</th>
                              <td>教授，长江学者，院士，杰出青年</td>
                              <td>教授，长江学者，院士，杰出青年</td>
                            </tr>
                            <tr>
                              <th scope="row">邮箱</th>
                              <td>724969599@qq.com</td>
                              <td>724969599@qq.com</td>
                            </tr>
                              <tr>
                              <th scope="row">办公电话</th>
                              <td>010-6899419</td>
                              <td>010-6899419</td>
                            </tr>
                                <tr>
                              <th scope="row">手机号码</th>
                              <td>18251979628</td>
                              <td>18251979628</td>
                            </tr>
                                  <tr>
                              <th scope="row">教育经历</th>
                              <td>我的教育经历贼吊我的教育经历贼吊我的教育经历贼吊我的教育经历贼吊我的教育经历贼吊我的教育经历贼吊我的教育经历贼吊我的教育经历贼吊我的教育经历贼吊我的教育经历贼吊</td>
                              <td>是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢是的呢</td>
                            </tr>
                          </tbody>
                        </table>
                        <div style="float:right;margin-bottom:10px" ><button type="submit" class="btn btn-primary" >忽略  </button>
                        <button type="submit" class="btn btn-primary" style="margin-left:10px ">保存修改</button>
                             </div>
                    </form>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4    tm-md-12 tm-sm-12 tm-col">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title d-inline-block">信息列表</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">商务</th>
      <th scope="col">时间</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>杨秀宁</td>
      <td>2019年7月1日20:15</td>
    </tr>
    <tr>
      <td>杨秀宁</td>
      <td>2019年7月2日</td>
    </tr>
    <tr>
      <td>杨秀宁</td>
      <td>2019年7月2日</td>
    </tr>
      <tr>
      <td>杨秀宁</td>
      <td>2019年7月2日</td>
    </tr>
      <tr>
      <td>杨秀宁</td>
      <td>2019年7月2日</td>
    </tr>
      <tr>
      <td>杨秀宁</td>
      <td>2019年7月2日</td>
    </tr>
  </tbody>
</table>

    </div>
                </div>
            </div>
            <footer class="row tm-mt-small">
                <div class="col-12 font-weight-light">
                    <p class="d-inline-block tm-bg-black text-white py-2 px-4">
                        Copyright &copy; 2018 Admin Dashboard . Created by Tooplate /  More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
{% endblock %}

{% block scripts %}
     <script src="../static/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
{% endblock %}

